  
                        <div class="w-full relative bg-white dark:bg-gray-900  lg:p-8 p-4 rounded-2xl rounded  shadow-md mb-4" id="top-charts-slider" x-data="{is_slide: 'slide'}">

                            <div class="flex w-full pb-4 text-primary">
                                <h3 class=" text-xl font-semibold w-full dark:text-gray-300">Genres</h3>
                                <div class="flex gap gap-4">
                                    <button class="prev-btn" data-slider="top-charts"><img class="w-8" src="/src/front_assets/svg/left.svg"></button>
                                    <button class="next-btn" data-slider="top-charts"><img class="w-8" src="/src/front_assets/svg/right.svg"></button>
                                </div>
                            </div>
                            <hr class="opacity-30 mb-4" />

                            <div  class="carousel-container flex gap-4" data-count="4" id="top-charts">
                            {% for genre in genres %}
                                {% include 'views/front/' ~ template ~ '/includes/book_genres_list.html.twig' %}
                            {% endfor %}
                            </div>

                        </div>