                                        <ul class="w-full space-y-4 ">
                                            <li class="py-1 gap-4 flex text-primary transition hover:text-orange-500">
                                                <img src="/uploads/img/60x60.png" width="48" height="48" class="rounded-lg" />
                                                <div class="slide__audio js-audio">
                                                    <audio class="slide__audio-player" controls="">
                                                    <source src="/src/front_assets/audio/1.mp3" type="audio/mpeg"/>
                                                    </audio>
                                                    <div class="audio__controls">
                                                    <svg version="1.1" id="circle" width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                        <path id="seekbar" fill="none" stroke-meterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z"/>
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="equalizer" viewBox="0 0 100 100">
                                                        <g class="equalizer-group">
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                        </g>
                                                    </svg>
                                                    <div class="audio__slider"></div>
                                                    <button class="play-pause"></button>
                                                    </div>
                                                </div>
                                                <div class="w-full transition hover:text-orange-500 dark:text-gray-300">
                                                    <a href="track.html"  class="block lg:text-lg text-base font-semibold ">A Thousand Years</a>
                                                    <span class="text-gray-400 text-sm">Christina Perri</span>
                                                </div>
                                                <a href="#"  class="w-6 py-2 mx-2">
                                                    <img src="svg/heart.svg" />
                                                </a>
                                                <div class="p-1 text-gray-500"><span>03:45</span></div>
                                            </li>
                                            
                                            <li class="py-1 gap-4 flex text-primary transition hover:text-orange-500">
                                                <img src="/uploads/img/60x60.png" width="48" height="48" class="rounded-lg" />
                                                <div class="slide__audio js-audio">
                                                    <audio class="slide__audio-player" controls="">
                                                    <source src="/src/front_assets/audio/1.mp3" type="audio/mpeg"/>
                                                    </audio>
                                                    <div class="audio__controls">
                                                    <svg version="1.1" id="circle" width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                        <path id="seekbar" fill="none" stroke-meterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z"/>
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="equalizer" viewBox="0 0 100 100">
                                                        <g class="equalizer-group">
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                        </g>
                                                    </svg>
                                                    <div class="audio__slider"></div>
                                                    <button class="play-pause"></button>
                                                    </div>
                                                </div>
                                                <div class="w-full transition hover:text-orange-500 dark:text-gray-300">
                                                    <a href="track.html"  class="block lg:text-lg text-base font-semibold  ">Calm down</a>
                                                    <span class="text-gray-400 text-sm">Selena</span>
                                                </div>
                                                <a href="#"  class="w-6 py-2 mx-2">
                                                    <img src="svg/active-heart.svg" />
                                                </a>
                                                <div class="p-1 text-gray-500"><span>03:45</span></div>
                                            </li>
                                            
                                                
                                            <li class="py-1 gap-4 flex text-primary transition hover:text-orange-500">
                                                <img src="/uploads/img/60x60.png" width="48" height="48" class="rounded-lg" />
                                                <div class="slide__audio js-audio">
                                                    <audio class="slide__audio-player" controls="">
                                                    <source src="/src/front_assets/audio/1.mp3" type="audio/mpeg"/>
                                                    </audio>
                                                    <div class="audio__controls">
                                                    <svg version="1.1" id="circle" width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                        <path id="seekbar" fill="none" stroke-meterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z"/>
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="equalizer" viewBox="0 0 100 100">
                                                        <g class="equalizer-group">
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                            <rect class="bar"></rect>
                                                        </g>
                                                    </svg>
                                                    <div class="audio__slider"></div>
                                                    <button class="play-pause"></button>
                                                    </div>
                                                </div>
                                                <div class="w-full transition hover:text-orange-500 dark:text-gray-300">
                                                    <a href="track.html"  class="block lg:text-lg text-base font-semibold  ">Last She Will Be Loved</a>
                                                    <span class="text-gray-400 text-sm">Maroon 5</span>
                                                </div>
                                                <a href="#"  class="w-6 py-2 mx-2">
                                                    <img src="svg/heart.svg" />
                                                </a>
                                                <div class="p-1 text-gray-500"><span>03:45</span></div>
                                            </li>
                                                
                                        </ul>