/node_modules
/vendor
/Documentation
/newtheme
/uploads/files
/uploads/bugs
/uploads/audio
/uploads/thumbnails
/src/tailwind
/installer
/app/config/database.php
/app/config/parameters.yml
/app/cache

.env
cookie.txt