<div class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 6,
            "slidesPerGroup": 1,
            "effect": "none",
            "loop": true,
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 1,
                "spaceBetween": 60,
                "pagination": false
              },
              "1200": {
                "slidesPerView": 6,
                "slidesPerGroup": 1,
                "spaceBetween": 97,
                "pagination": false
              }
            }
          }'>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-1.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Break System</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-2.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Damping</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-3.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Body</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-4.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Engine</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-5.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Filters</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block" src="../images/home/demo18/category-1.png" width="145" height="145" alt="">
              <div class="text-center">
                <a href="./shop1.html" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">Oils</a>
              </div>
            </div>
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->
      </div><!-- /.position-relative -->