<main class="mt-20">
	<section class="products-grid  {{hook.field.container_style}}">
		<h2 class="section-title text-center fw-normal mb-1 mb-md-3  mb-xl-3">{{hook.title}}</h2>
        <p class="fs-10 mb-3 pb-2 pb-xl-3 text-secondary text-center">{{hook.field.subtitle}}</p>
		<div class="position-relative">
        
            <div class="row">
                {% set class = 'col-12 col-sm-6 col-md-4 col-lg-3' %}
                {% for item in items %}
                    {% include 'Shared/Plugins/views/includes/product-grid.html.twig' %}
                {% endfor %}
				
			</div>
		</div>
	</section>

</main>
