<div class="py-4 px-2 w-full">


    {% include 'views/front/' ~ template ~ '/includes/home_videos.html.twig' %}

    <div class="w-full relative  rounded-lg ">
        <div class="w-full ">
            {% set list = video_items %}
            {% include 'views/front/' ~ template ~ '/includes/pagination.html.twig' %}
        </div>
    </div>
	<div class="h-10"></div>
</div>
