{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}


{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}




        <div id="swupMain" class="mil-main-transition"> <!-- content -->
            <div id="smooth-content" class="mil-content">
                {# <div  class="hentry"> #}
                <div  class="">

                    {% include 'views/front/' ~ template ~ '/pages/' ~ layout ~ '.html.twig' %}

                </div>
                
                {% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}

            </div>
        </div>
        

</body>

</html>