<html lang="en"><head><style type="text/css" id="nanobarcss">.nanobar{width:100%;height:4px;z-index:9999;top:0}.bar{width:0;height:100%;transition:height .3s;background:#000}</style>

	<base href="/">

	<script>if(window.self === window.top)window.top.location.href="index.php";</script>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="dns-prefetch" href="https://use.fontawesome.com">
	<link rel="preconnect" href="https://use.fontawesome.com">
	<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
	<link rel="preconnect" href="https://cdn.jsdelivr.net">

	<title>Slider - Website Builder Admin Panel</title>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <script src="/assets?asset=/src/builder/js/jquery.min.js" type="text/javascript"></script>
<!--Bootstrap-->
<link href="/assets?asset=/src/builder/css/bootstrap.min.css" rel="stylesheet" />
<script src="/assets?asset=/src/builder/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <link href="/assets?asset=/src/builder/css/live.css" rel="stylesheet" />
 <link href="/assets?asset=/src/builder/css/live-admin.css" rel="stylesheet" />
 
 <style>

		#prepage{position:fixed;top:0;left:0;right:0;padding-top:0;z-index: 1029;}
		#prepage .alert{position:absolute;margin:0;border-radius:0;border-width:1px 0 0;box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:0 100px 0 20px;overflow:auto;line-height:50px;top:13px;right:5px;}
		#prepage .alert a.closeAlert{font-size:30px;text-decoration:none;color:rgba(0,0,0,0.3);padding:0;background:rgba(0,0,0,0.1);position:absolute;top:0;bottom:0;right:0;

		width: 50px;
		height: 50px;
		text-align: center;

		}
		#prepage .alert a.closeAlert:hover{color:rgba(255,255,255,0.5);background:rgba(0,0,0,0.3);}

		#admin span.menuMoveSpan {background:none;cursor:move; position:absolute;margin:2px 0 0 -20px; height:12px; width:12px; padding:0; display:block}
		/*#admin .tree li {margin-left:20px;}*/

		.sidebar h5 {border-bottom:1px solid #ddd;margin-bottom:5px; padding-bottom:0}
		.koProgress{margin-top:7px}.koProgress .bar{background:var(--ui-color-accent);height: 5px;}
		</style>
		<script src="/assets?asset=/src/builder/js/nanobar.min.js"></script>
		<script>
		var nanobar;
		function koModal_confirm(u,q){


			if(confirm('Are you sure')){
				
				if(typeof u === 'function')
					setTimeout(u,100);
				else
					window.location.href=u
			
			}


		}

		$(function(){

			nanobar = new Nanobar({

				classname: 'koProgress'

			});

		});

		function navbarAlert(alertMessage,alertType){

			var thisNewId='navbar_alert_'+ Math.floor((Math.random()*1000)+1);
			$('#prepage').append('<div class=\'alert '+alertType+' hide\' id=\'navbar_alert_'+thisNewId+'\'><a href="javascript:void(null)" onclick="$(\'#navbar_alert_'+thisNewId+'\').slideUp()" class="closeAlert">&times;</a>'+alertMessage+'</div>');
			$("#navbar_alert_"+thisNewId).slideDown();
			setTimeout('$("#navbar_alert_'+thisNewId+'").slideUp();',10000);

		}
		</script><link rel="bookmark" href="../../../kopage_files/editor_images/favicon.png"><link rel="shortcut icon" href="../../../kopage_files/editor_images/favicon.png"><link rel="apple-touch-icon" href="../../../kopage_files/editor_images/favicon.png"><link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800&amp;display=swap&amp;subset=latin,latin-ext" rel="stylesheet"><style>:root{--ui-font:'Poppins';--ui-font-normal:400;--ui-font-bold:700;--ui-font-system:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}</style>
	<style>

		:root {
			--ui-color-accent: #179BD7;--ui-color-accent-75: rgba(23,155,215,0.7);--ui-color-accent-50: rgba(23,155,215,0.5);--ui-color-accent-25: rgba(23,155,215,0.25);--ui-color-accent-light: rgba(23,155,215,0.1);--ui-color-stripes-accent:repeating-linear-gradient(
	-45deg,#005f9b,#179BD7 20px,#005f9b 20px,#005f9b 50px,#179BD7 50px,#179BD7 65px);--ui-color-leftmenu:#333944;		}

		#admin {
			font-family: var(--ui-font);
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right,#fff 50px,var(--ui-color-leftsubmenu));
		}
				
	</style>

	<link rel="stylesheet" href="/assets?asset=/src/builder/css/jBox.all.min.css" />
	<script src="/assets?asset=/src/builder/js/jBox.all.min.js"></script>

	
</head>
<body id="admin" class="inAdminPlus activeButtonHolder">
	<div id="prepage"></div>

	
<div class="koMenuHeader">
	<a href="admin.php?p=slider">
		<h3>
			<div>
				<small>Manage a Module</small>
				<div class="d-flex align-items-center">
					<div class="koMenuHeader_home">Slideshow</div>
				</div>
			</div>
		</h3>
	</a>
</div>

<script>var $defaultWidth=501;</script>
<div class="koMenuContainer">
<div class="koMenuTabs">
	<ul class="nav" role="tablist">
		<li>
								
					<a href="admin.php?p=slider&amp;opt=list"><i class="fas fa-home fa-fw"></i> My sliders</a>				<a href="javascript:void(null)" class="active"><i class="fas fa-edit fa-fw"></i> Edit</a>

					
		</li>
	</ul>
</div>
<div class="koMenu koMenuButtonFixed tab-content" style="width:500px">


	<div role="tabpanel" class="tab-pane active" id="editMenu">
		<form method="post" action="">

						<script type="text/javascript">

        		jQuery(function(){

					$( ".koMenuSortable" ).sortable({

					items:".koMenuButton",
					handle: ".koMenuButton_handle"

					});

				});

				function deleteSlide(id){

					$("#slideItem_"+id).fadeOut(function(){jQuery("#slideItem_"+id).remove()})

				}

			</script>

			
			<a href="javascript:void(null)" class="btn btn-ui-primary float-right" onclick="$('#moduleMoreSettings').toggle();"><i class="fas fa-cog fa-fw"></i> Configuration</a>
			


			<div class="koMenuHero">
				
									<a href="admin.php?p=slider&amp;opt=list"><i class="fas fa-chevron-left"></i> My sliders</a>
				
				<h3>Edit Slideshow</h3>
			</div>
		
			<div class="koMenuTitle"></div>

			<div id="moduleMoreSettings" style="display:none" class="mb-5"><div style="background: linear-gradient(to right,rgba(255,255,255,0.2),
				rgba(255,255,255,1) 20px);
				margin: -15px -20px 30px;
				padding: 20px;">					<input type="hidden" id="moduleItemID" name="moduleItemID" value="slider1">
					
				<div class="koMenuField">

					<input type="text" id="moduleItemTitle" placeholder="Title" name="moduleItemTitle" value="Slider 1">

					<label for="moduleItemTitle">Title</label>
					
				</div>

								
				<div class="koMenuField">

					<textarea id="moduleItemDescription" placeholder="Description" name="moduleItemDescription">Short description...</textarea>
					<label for="moduleDescription">Description</label>

				</div>


				<div class="row g-0">
					<div class="col">
						<div class="koMenuSwitch p-3 me-1">
							<label class="kSwitch">
							<span>Show Pagination<small>Small dots will appear on bottom of slider</small></span>
							<input id="pagination" name="pagination" value="1" type="checkbox" checked="">
							<i></i>
							</label>
						</div>
						
						<div class="koMenuSwitch p-3 rounded">
							<label class="kSwitch">
							<span>Autoplay<small>Slides will automatically change each 5 seconds</small></span>
							<input id="autostart" name="autostart" value="1" type="checkbox" checked="">
							<i></i>
							</label>
						</div>

					</div>

					<div class="col">
						
						<div class="koMenuSwitch p-3 rounded">
							<label class="kSwitch">
							<span>Show Navigation<small>Left &amp; Right arrows will appear on both side</small></span>
							<input id="navigation" name="navigation" value="1" type="checkbox" checked="">
							<i></i>
							</label>
						</div>



					</div>
				</div>

<div class="koMenuCard">

	<div class="row g-5">
	<div class="col-auto">

		<h3>Slider's Height</h3>
	


	<div class="form-check mb-2">
	<input type="radio" value="full" id="sliderHeight1" name="sliderHeight" class="form-check-input">
	<label class="form-check-label" for="sliderHeight1"><span>Full Screen</span></label>
	</div>

	<div class="form-check mb-2">
	<input type="radio" value="auto" id="sliderHeight2" name="sliderHeight" class="form-check-input">
	<label class="form-check-label" for="sliderHeight2"><span>Autodetect</span></label>
	</div>


	<div class="form-check">
		<input type="radio" value="1" id="sliderHeight3" name="sliderHeight" checked="" class="form-check-input">
		<label class="form-check-label" for="sliderHeight3"><span>Height in pixels</span></label>



		<div class="mt-2 row g-0">

			<div class="col d-flex align-items-center" style="max-width:120px;min-width:120px">
				<div class="koMenuSpinner">
					<div class="input-group spinner-group my-0 input-group-sm">
						<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button" tabindex="-1">-</button>
						</div>
						<input value="400" name="sliderHeightPX" id="sliderHeightPX" class="text-center form-control" autocomplete="off" maxlength="3" min="101" max="999" data-custom="1" type="text">

						<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" tabindex="-1">+</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col d-flex align-items-center ps-2">px</div>
		</div>
	</div>

	</div>
	<div class="col-auto">
	<h3>Effect</h3>

		<div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="sliderEffect" id="sliderEffect_slide" value="slide" checked="">
			<label class="form-check-label" for="sliderEffect_slide">
			Default			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="sliderEffect" id="sliderEffect_fade" value="fade">
			<label class="form-check-label" for="sliderEffect_fade">
			Fade			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="sliderEffect" id="sliderEffect_flip" value="flip">
			<label class="form-check-label" for="sliderEffect_flip">
			Flip			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="sliderEffect" id="sliderEffect_cube" value="cube">
			<label class="form-check-label d-flex" for="sliderEffect_cube">
			Cube <small class="align-self-center text-muted ms-auto"><i class="fas ms-2 fa-image"></i></small>
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="sliderEffect" id="sliderEffect_cards" value="cards">
			<label class="form-check-label d-flex" for="sliderEffect_cards">
			Cards <small class="align-self-center text-muted ms-auto"><i class="fas ms-2 fa-image"></i></small>
			</label>
		</div>
				</div>

		
	</div>
	</div>


	
</div>




<div style="display:none">
<button type="submit" class="btn btn-primary"><span>Save changes</span></button>
<button class="btn AddNewSlide" type="button"><span>Add New Item</span></button>
</div>

</div></div>

<style>
body{counter-reset: section;}
.nav-counter::after {
	counter-increment: section;
	content: " #" counter(section) "";
}
.koMenuButton_image{cursor:pointer;}
</style>
<script>
function hideSlide(id){

	var theSlide=$('#slideItem_'+id);
	var theTitle=$('#title'+id).val(),theSubtitle=$('#subtitle'+id).val();

	if(theTitle == '')theTitle = '[No Header]';
	if(theSubtitle == '')theSubtitle = '[No Subtitle]';


	theSlide.removeClass('active');

	theSlide.find('.slideItemTitle').html(theTitle);
	theSlide.find('.slideItemSubtitle').html(theSubtitle);

	var theImg=$('#preview_filepath_'+id).attr('src');
	if(theImg!='')
	//theSlide.find('.koMenuButton_image').html('<img src="'+theImg+'" />');
	theSlide.find('.koMenuButton_image').html('').css('background-image','url('+theImg+')');
	else
	theSlide.find('.koMenuButton_image').html('<i class="fas fa-images fa-3x"></i>').css('background-image',null);



}
</script>


		
	<div class="koMenuSectionTitle my-4">Slides</div>
		<div class="koMenuSortable sortableItems ui-sortable">

	<div id="slideItem_0" class="koMenuButton koMenuButtonEditor mb-2">
		<a href="javascript:void(null)" class="koMenuButton_clickArea" onclick="$('#slideItem_0').addClass('active')"><!--Clickable Area--></a>

		<div class="koMenuButton_handle ui-sortable-handle"><i></i></div>

		<span class="koMenuModuleItemButtons">
			<button class="btn btn-sm btn-danger ms-1" type="button" data-balloon="Remove this slide" data-balloon-pos="left" onclick="if(confirm('Are you sure')){deleteSlide('0')}"><i class="fas fa-trash fa-fw"></i></button>
			<button class="btn btn-sm btn-primary" onclick="$('#slideItem_0').addClass('active')" type="button"><i class="fas fa-edit fa-fw"></i></button>
		</span>

		<span class="koMenuButton_image" onclick="$('#slideItem_0').addClass('active')" style="background-image:url(../../../kopage_files/editor_images/nophoto.png)"></span>
		<span class="koMenuButton_info" onclick="$('#slideItem_0').addClass('active')">

			<span class="slideItemTitle">Welcome to your new website</span>
			<small class="slideItemSubtitle">Slide #1</small>

		</span>
		
		<span class="koMenuButton_counter" onclick="hideSlide('0')"><strong class="nav-counter">Slide</strong></span>

		<div class="koMenuButton_editor">

			<a href="javascript:void(null)" class="btn btn-sm btn-secondary" style="position:absolute;top:14px;right:12px;" onclick="hideSlide('0')"><i class="fas fa-chevron-up"></i></a>
			
			<div class="k_Edit">

				<span class="k_EditMore"><a href="javascript:void(null)" class="" data-balloon="Block Settings" data-balloon-pos="downright" onclick="$('#title0').focus()"><i class="fas fa-cog"></i></a></span>

				<a href="javascript:void(null)" class="k_Move nav-item-move" data-balloon="Move this block" data-balloon-pos="downright"><i></i></a>

			</div>

			<div class="koMenuField">

				<input id="title0" name="title[0]" placeholder="Header" value="Welcome to your new website" type="text">
				<label for="title0">Header</label>

			</div>

			<div class="koMenuField">

				<textarea id="subtitle0" name="subtitle[0]" placeholder="Subtitle">Slide #1</textarea>
				<label for="subtitle0">Subtitle</label>

			</div>

			<div class="row g-0 mt-3">

				<div class="col">

					<div class="form-group">
						<label for="textColor" class="pb-2">Text color</label>
						<div class="w-100"></div>
						
						<div class="btn-group active">
							<input class="btn-check" type="radio" name="textColor[0]" id="textColor1_0" value="black" autocomplete="off" checked="">
							<label for="textColor1_0" class="btn btn-secondary">Black</label>
							<input class="btn-check" type="radio" name="textColor[0]" id="textColor2_0" value="white" autocomplete="off">
							<label for="textColor2_0" class="btn btn-secondary">White</label>
						</div>
					</div>

				</div>
				<div class="col">

					<div class="form-group">
						<label for="contentsAlign" class="pb-2">Text Align</label><div class="w-100"></div>
						<div class="btn-group active">
							<input class="btn-check" type="radio" name="contentsAlign[0]" id="contentsAlign1_0" value="left" autocomplete="off">
							<label for="contentsAlign1_0" class="btn btn-secondary ">
							 Left							</label>
							<input class="btn-check" type="radio" name="contentsAlign[0]" id="contentsAlign2_0" value="center" autocomplete="off" checked="">
							<label for="contentsAlign2_0" class="btn btn-secondary">
							 Center							</label>
							<input class="btn-check" type="radio" name="contentsAlign[0]" id="contentsAlign3_0" value="right" autocomplete="off"> 
							<label for="contentsAlign3_0" class="btn btn-secondary">
							Right							</label>
						</div>
					</div>

				</div>
			</div>
			
			<div class="row g-0 mt-3">

				<div class="col pe-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label class="pb-2">Action button <small>(Optional)</small></label>
						<div class="koMenuField">

						<input id="buttontext0" name="buttontext[0]" value="Learn More" type="text">
						<label for="buttontext0">Button Text</label>

						</div>

						<div class="koMenuField">

						<input id="buttonurl0" name="buttonurl[0]" value="#" type="text">
						<label for="buttonurl0">Link URL</label>

						</div>
					</div>

				</div>
				<div class="col ps-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label for="0" class="pb-2">Background Image:</label>

						<a href="javascript:void(null)" class="koImageWithBrowser" onclick="showModalManager('filepath_0');">
							<img id="preview_filepath_0" src="../../../kopage_files/editor_images/nophoto.png" class="rounded" style="max-width: 100%;max-height: 140px;width: 100%;">
							
  
							<span class="btn btn-secondary" data-balloon="Choose an image" data-balloon-pos="left"><i class="fas fa-search"></i></span>
						</a>
					</div>

				</div>
			</div>


			<div class="mt-3">

				<div class="koMenuField">

					<input id="caption0" name="caption[0]" value="" type="text">
					<label for="caption0">Caption</label>

				</div>


			</div>
			
		<input type="hidden" value="0" name="id[]" id="id_0">
		<input type="hidden" value="../../../kopage_files/editor_images/nophoto.png" name="filepath[0]" id="filepath_0">

		</div>
	</div>


	<script>
			$('input[name="textColor[0]"][value="black"]').prop("checked", true).parent().addClass("active");
			$('input[name="contentsAlign[0]"][value="center"]').prop("checked", true).parent().addClass("active");
			</script>

	<div id="slideItem_1" class="koMenuButton koMenuButtonEditor mb-2">
		<a href="javascript:void(null)" class="koMenuButton_clickArea" onclick="$('#slideItem_1').addClass('active')"><!--Clickable Area--></a>

		<div class="koMenuButton_handle ui-sortable-handle"><i></i></div>

		<span class="koMenuModuleItemButtons">
			<button class="btn btn-sm btn-danger ms-1" type="button" data-balloon="Remove this slide" data-balloon-pos="left" onclick="if(confirm('Are you sure')){deleteSlide('1')}"><i class="fas fa-trash fa-fw"></i></button>
			<button class="btn btn-sm btn-primary" onclick="$('#slideItem_1').addClass('active')" type="button"><i class="fas fa-edit fa-fw"></i></button>
		</span>

		<span class="koMenuButton_image" onclick="$('#slideItem_1').addClass('active')" style="background-image:url(../../../kopage_files/editor_images/nophoto.png)"></span>
		<span class="koMenuButton_info" onclick="$('#slideItem_1').addClass('active')">

			<span class="slideItemTitle">Welcome to your new website</span>
			<small class="slideItemSubtitle">Slide #2</small>

		</span>
		
		<span class="koMenuButton_counter" onclick="hideSlide('1')"><strong class="nav-counter">Slide</strong></span>

		<div class="koMenuButton_editor">

			<a href="javascript:void(null)" class="btn btn-sm btn-secondary" style="position:absolute;top:14px;right:12px;" onclick="hideSlide('1')"><i class="fas fa-chevron-up"></i></a>
			
			<div class="k_Edit">

				<span class="k_EditMore"><a href="javascript:void(null)" class="" data-balloon="Block Settings" data-balloon-pos="downright" onclick="$('#title1').focus()"><i class="fas fa-cog"></i></a></span>

				<a href="javascript:void(null)" class="k_Move nav-item-move" data-balloon="Move this block" data-balloon-pos="downright"><i></i></a>

			</div>

			<div class="koMenuField">

				<input id="title1" name="title[1]" placeholder="Header" value="Welcome to your new website" type="text">
				<label for="title1">Header</label>

			</div>

			<div class="koMenuField">

				<textarea id="subtitle1" name="subtitle[1]" placeholder="Subtitle">Slide #2</textarea>
				<label for="subtitle1">Subtitle</label>

			</div>

			<div class="row g-0 mt-3">

				<div class="col">

					<div class="form-group">
						<label for="textColor" class="pb-2">Text color</label>
						<div class="w-100"></div>
						
						<div class="btn-group active">
							<input class="btn-check" type="radio" name="textColor[1]" id="textColor1_1" value="black" autocomplete="off" checked="">
							<label for="textColor1_1" class="btn btn-secondary">Black</label>
							<input class="btn-check" type="radio" name="textColor[1]" id="textColor2_1" value="white" autocomplete="off">
							<label for="textColor2_1" class="btn btn-secondary">White</label>
						</div>
					</div>

				</div>
				<div class="col">

					<div class="form-group">
						<label for="contentsAlign" class="pb-2">Text Align</label><div class="w-100"></div>
						<div class="btn-group active">
							<input class="btn-check" type="radio" name="contentsAlign[1]" id="contentsAlign1_1" value="left" autocomplete="off">
							<label for="contentsAlign1_1" class="btn btn-secondary ">
							 Left							</label>
							<input class="btn-check" type="radio" name="contentsAlign[1]" id="contentsAlign2_1" value="center" autocomplete="off" checked="">
							<label for="contentsAlign2_1" class="btn btn-secondary">
							 Center							</label>
							<input class="btn-check" type="radio" name="contentsAlign[1]" id="contentsAlign3_1" value="right" autocomplete="off"> 
							<label for="contentsAlign3_1" class="btn btn-secondary">
							Right							</label>
						</div>
					</div>

				</div>
			</div>
			
			<div class="row g-0 mt-3">

				<div class="col pe-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label class="pb-2">Action button <small>(Optional)</small></label>
						<div class="koMenuField">

						<input id="buttontext1" name="buttontext[1]" value="" type="text">
						<label for="buttontext1">Button Text</label>

						</div>

						<div class="koMenuField">

						<input id="buttonurl1" name="buttonurl[1]" value="" type="text">
						<label for="buttonurl1">Link URL</label>

						</div>
					</div>

				</div>
				<div class="col ps-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label for="1" class="pb-2">Background Image:</label>

						<a href="javascript:void(null)" class="koImageWithBrowser" onclick="showModalManager('filepath_1');">
							<img id="preview_filepath_1" src="../../../kopage_files/editor_images/nophoto.png" class="rounded" style="max-width: 100%;max-height: 140px;width: 100%;">
							
  
							<span class="btn btn-secondary" data-balloon="Choose an image" data-balloon-pos="left"><i class="fas fa-search"></i></span>
						</a>
					</div>

				</div>
			</div>


			<div class="mt-3">

				<div class="koMenuField">

					<input id="caption1" name="caption[1]" value="" type="text">
					<label for="caption1">Caption</label>

				</div>


			</div>
			
		<input type="hidden" value="1" name="id[]" id="id_1">
		<input type="hidden" value="../../../kopage_files/editor_images/nophoto.png" name="filepath[1]" id="filepath_1">

		</div>
	</div>


	<script>
			$('input[name="textColor[1]"][value="black"]').prop("checked", true).parent().addClass("active");
			$('input[name="contentsAlign[1]"][value="center"]').prop("checked", true).parent().addClass("active");
			</script></div>


		<div class="koMenuButtonHolder row g-0" style="width:500px">
			<div class="col col-2 me-1">
				<button type="button" id="bottomAddButton" data-balloon="Add a new slide" data-balloon-pos="up" class="AddNewSlide h-100 btn btn-secondary"><i class="fa fa-plus-circle"></i></button>
			</div>
			<div class="col">
				<button class=" btn btn-ui-primary btn-block btn-lg" type="submit"><i class="fas fa-check fa-fw"></i> Save changes</button>
			</div>
		</div>

	</form>
	<div style="display:none" id="itemTemplate">

	<div id="slideItem_[ID]" class="koMenuButton koMenuButtonEditor mb-2">
		<a href="javascript:void(null)" class="koMenuButton_clickArea" onclick="$('#slideItem_[ID]').addClass('active')"><!--Clickable Area--></a>

		<div class="koMenuButton_handle"><i></i></div>

		<span class="koMenuModuleItemButtons">
			<button class="btn btn-sm btn-danger ms-1" type="button" data-balloon="Remove this slide" data-balloon-pos="left" onclick="if(confirm('Are you sure')){deleteSlide('[ID]')}"><i class="fas fa-trash fa-fw"></i></button>
			<button class="btn btn-sm btn-primary" onclick="$('#slideItem_[ID]').addClass('active')" type="button"><i class="fas fa-edit fa-fw"></i></button>
		</span>

		<span class="koMenuButton_image" onclick="$('#slideItem_[ID]').addClass('active')" [imagepreview_style]="">[IMAGEPREVIEW_PLACEHOLDER]</span>
		<span class="koMenuButton_info" onclick="$('#slideItem_[ID]').addClass('active')">

			<span class="slideItemTitle">[TITLE]</span>
			<small class="slideItemSubtitle">[SUBTITLE]</small>

		</span>
		
		<span class="koMenuButton_counter" onclick="hideSlide('[ID]')"><strong class="nav-counter">Slide</strong></span>

		<div class="koMenuButton_editor">

			<a href="javascript:void(null)" class="btn btn-sm btn-secondary" style="position:absolute;top:14px;right:12px;" onclick="hideSlide('[ID]')"><i class="fas fa-chevron-up"></i></a>
			
			<div class="k_Edit">

				<span class="k_EditMore"><a href="javascript:void(null)" class="" data-balloon="Block Settings" data-balloon-pos="downright" onclick="$('#title[ID]').focus()"><i class="fas fa-cog"></i></a></span>

				<a href="javascript:void(null)" class="k_Move nav-item-move" data-balloon="Move this block" data-balloon-pos="downright"><i></i></a>

			</div>

			<div class="koMenuField">

				<input id="title[ID]" name="title[[ID]]" placeholder="Header" value="[TITLE]" type="text">
				<label for="title[ID]">Header</label>

			</div>

			<div class="koMenuField">

				<textarea id="subtitle[ID]" name="subtitle[[ID]]" placeholder="Subtitle">[SUBTITLE]</textarea>
				<label for="subtitle[ID]">Subtitle</label>

			</div>

			<div class="row g-0 mt-3">

				<div class="col">

					<div class="form-group">
						<label for="textColor" class="pb-2">Text color</label>
						<div class="w-100"></div>
						
						<div class="btn-group">
							<input class="btn-check" type="radio" name="textColor[[ID]]" id="textColor1_[ID]" value="black" autocomplete="off" checked="">
							<label for="textColor1_[ID]" class="btn btn-secondary">Black</label>
							<input class="btn-check" type="radio" name="textColor[[ID]]" id="textColor2_[ID]" value="white" autocomplete="off">
							<label for="textColor2_[ID]" class="btn btn-secondary">White</label>
						</div>
					</div>

				</div>
				<div class="col">

					<div class="form-group">
						<label for="contentsAlign" class="pb-2">Text Align</label><div class="w-100"></div>
						<div class="btn-group">
							<input class="btn-check" type="radio" name="contentsAlign[[ID]]" id="contentsAlign1_[ID]" value="left" autocomplete="off">
							<label for="contentsAlign1_[ID]" class="btn btn-secondary ">
							 Left							</label>
							<input class="btn-check" type="radio" name="contentsAlign[[ID]]" id="contentsAlign2_[ID]" value="center" autocomplete="off" checked="">
							<label for="contentsAlign2_[ID]" class="btn btn-secondary">
							 Center							</label>
							<input class="btn-check" type="radio" name="contentsAlign[[ID]]" id="contentsAlign3_[ID]" value="right" autocomplete="off"> 
							<label for="contentsAlign3_[ID]" class="btn btn-secondary">
							Right							</label>
						</div>
					</div>

				</div>
			</div>
			
			<div class="row g-0 mt-3">

				<div class="col pe-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label class="pb-2">Action button <small>(Optional)</small></label>
						<div class="koMenuField">

						<input id="buttontext[ID]" name="buttontext[[ID]]" value="[BUTTON]" type="text">
						<label for="buttontext[ID]">Button Text</label>

						</div>

						<div class="koMenuField">

						<input id="buttonurl[ID]" name="buttonurl[[ID]]" value="[BUTTONLINK]" type="text">
						<label for="buttonurl[ID]">Link URL</label>

						</div>
					</div>

				</div>
				<div class="col ps-1 h-100">

					<div class="border rounded p-3" style="background:#F4F3F4">
						<label for="[ID]" class="pb-2">Background Image:</label>

						<a href="javascript:void(null)" class="koImageWithBrowser" onclick="showModalManager('filepath_[ID]');">
							<img id="preview_filepath_[ID]" src="[FILEPATH]" class="rounded" style="max-width: 100%;max-height: 140px;width: 100%;">
							
  
							<span class="btn btn-secondary" data-balloon="Choose an image" data-balloon-pos="left"><i class="fas fa-search"></i></span>
						</a>
					</div>

				</div>
			</div>


			<div class="mt-3">

				<div class="koMenuField">

					<input id="caption[ID]" name="caption[[ID]]" value="[CAPTION]" type="text">
					<label for="caption[ID]">Caption</label>

				</div>


			</div>
			
		<input type="hidden" value="[ID]" name="id[]" id="id_[ID]">
		<input type="hidden" value="[FILEPATH]" name="filepath[[ID]]" id="filepath_[ID]">

		</div>
	</div>


	</div>	<script>

		function addNewItem(){

			jQuery("#noItems").hide();
			var randomId = Math.floor(Math.random()*12345);

			var $itemTemplate=$('#itemTemplate').html();

			var mapObj = {

				'[ID]':randomId,
				'[BUTTON]':'',
				'[BUTTONLINK]':'',
				'[CAPTION]':'',
				'[FILEPATH]':'../../../kopage_files/editor_images/nophoto.png',
				'[TITLE]':'Enter Title Here',
				'[SUBTITLE]':'',
				'[IMAGEPREVIEW_STYLE]':'',
				'[IMAGEPREVIEW_PLACEHOLDER]':'<i class="fas fa-images fa-3x"></i>'



			};
			
			$itemTemplate = $itemTemplate.replace(/\[ID\]|\[TITLE\]|\[SUBTITLE\]|\[FILEPATH\]|\[BUTTON\]|\[BUTTONLINK\]|\[CAPTION\]|\[IMAGEPREVIEW_STYLE\]|\[IMAGEPREVIEW_PLACEHOLDER\]/gi,
				function(matched){return mapObj[matched];});

			$('.koMenuSortable').append($itemTemplate);

			
			// hide config if opened:
			$('#moduleMoreSettings').hide();


			$('.koMenu').animate({
				scrollTop: $('.koMenuSortable').outerHeight()-50
			});

			$('#slideItem_'+randomId).addClass('active')
			$('#title'+randomId).focus();

			

		}
		
		jQuery("button.AddNewSlide").click(function(){addNewItem()});

			
    </script>
	
</div>
<div role="tabpanel" class="tab-pane" id="browseMenus">

	<div class="koMenuTitle">My sliders</div>
		<ul class="list-group koMenuModuleItems"><div class="koMenuButton mb-2"><a style="z-index:1;display:block;position:absolute;top:0;left:0;bottom:0;right:0;height:100%;width:100%;" href="admin.php?p=slider&amp;act=edit&amp;fid=slider1"></a><span class="koMenuButton_image"><i class="fas fa-image fa-3x ms-3"></i></span><span>Slider 1<small class="" style="">Short description...</small></span><span class="koMenuModuleItemButtons" style=""><button data-balloon="Remove this slideshow" data-balloon-pos="left" class="btn btn-sm btn-danger ms-1" type="button" onclick="koModal_confirm('admin.php?p=slider&amp;act=delete&amp;fid=slider1');"><i class="fas fa-trash fa-fw"></i></button>
									<button class="btn btn-sm btn-primary" onclick="window.location.href='admin.php?p=slider&amp;act=edit&amp;fid=slider1'" type="button"><i class="fas fa-edit fa-fw"></i></button></span></div></ul>
	<div class="koMenuButtonHolder row" style="width:500px">
		<button class="col btn btn-ui-primary btn-block btn-lg" onclick="var addNew_Tab = new bootstrap.Tab($('#addNewMenu')[0]);addNew_Tab.show();" type="button"><i class="fas fa-plus-circle fa-fw"></i> Add a new slider</button>
	</div>


    </div>
  </div>
</div>
<script>

	$(document).on('click', '.spinner-group button', function () {
		var btn = $(this),
			oldValue = Math.floor(btn.closest('.spinner-group').find('input').val().trim()),
			newVal = 0;

		if (btn.text() == '+') {
			newVal = parseInt(oldValue) + 1;
		} else {
			if (oldValue > 1) {
				newVal = parseInt(oldValue) - 1;
			} else {
				newVal = 0;
			}
		}
		btn.closest('.spinner-group').find('input').val(newVal);
	});

</script>
	<style>
		#inFrameManager {
			display: none;
			z-index: 999990;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: auto;
			height: auto;
			margin: 0;
			background: rgba(0, 0, 0, 0.5)
		}

		#inFrameBody {
			position: fixed;
			top: 20px;
			left: 20px;
			bottom: 20px;
			right: 20px;
			width: auto;
			height: auto;
			margin: 0;
			background: #F5F5F5;
			width: auto;
			height: auto;
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
			overflow: hidden
		}

		#admin.inAdminPlus #inFrameBody {
			
			top: 10px;
			left: 0;
			bottom: 0;
			right: 60px;
			
		}

		#inFrameHeader {
			height: 60px;
			line-height: 60px;
			background: linear-gradient(to bottom, #666 0%, #333 100%);
		}

		#inFrameHeader #inFrameHeaderClose {
			line-height: 60px;
			width: 60px;
			height: 60px;
			display: block;
			text-align: center;
			font-size: 20px;
			background: rgba(0, 0, 0, 0.5);
			color: #fff;
			opacity: 0.5;
			text-decoration: none;
			float: right
		}

		#inFrameHeader #inFrameHeaderClose:hover {
			opacity: 0.7
		}

		#inFrameHeader h3 {
			line-height: 60px;
			height: 60px;
			text-indent: 20px;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
			margin: 0;
			font-weight: var(--ui-font-bold);
		}

		#inFrameManager #fileManager {
			overflow: auto;
			overflow-x: hidden;
			width: 100%;
			position: relative;
			height: calc(100% - 60px);
		}

		#inFrameManager #fileManager .inAdminTabs {
			background: #F5F5F5
		}

		#inFrameManager #fileManager .inAdminTabs .dropdown-toggle .caret {
			margin-top: 25px;
			margin-left: 5px
		}

		/* hide edit/remove buttons */
		#fileManager .btn-group.btn-group-sm {
			display: none
		}



		#inFrameHeaderTitle {
			height: 60px;
			line-height: 60px;
			display: flex;
			align-items: center;
		}

		#inFrameHeaderTitle h3,
		#inFrameHeaderTitle span,
		#inFrameHeaderTitle a {
			display: block;
			float: left;
			margin-right: 15px;
			color: #fff;
			font-size: 15px
		}
		#inFrameHeaderTitle a:hover {color:#000;}

		#inFrameHeaderTitle h3 {
			font-size: 20px
		}

		#inFrameHeaderTitle span {
			opacity: 0.5;
			margin-right: 5px;
		}

		#inFrameManager #fileManager #panel_files {
			height: calc(100vh - 100px);
		}
	</style>

	<div id="inFrameManager">
		<div id="inFrameBody">
			<div id="inFrameHeader"><a id="inFrameHeaderClose" href="javascript:void(null)" onclick="$('#inFrameManager').fadeOut();"><i class="fas fa-times"></i></a>

				<div id="inFrameHeaderTitle">
					<h3>Select a file</h3>
					<span style="text-transform: lowercase;margin-right:15px">Or</span><a class="btn btn-outline-light rounded-pill" href="javascript:void(null)" onclick="$('#bottomUploadButton').trigger('click')"><i class="mr-2 fa fa-upload"></i>Upload Files</a>
				</div>
			</div>
			<div id="fileManager"></div>
		</div>
	</div>



	<script>
		var tinyIFrame = null;
		var tinyIFrameWindow = null;
		var tinyIFrameWindowMedia = null;

		// ESC key...
		$(document).keyup(function(e) {

			if (e.keyCode === 27) {

				window.top.koMenuClose();

			}
		});


		function showModalManager(option, optionalType, optionOption) {

			var whichFrame = '';

			$("#managerApplyTo").val(option);

			$("#inFrameManager").fadeIn();

			// make BODY not-scrollable
			//$("html, body").css({'overflow':'hidden'});
			
			showFolder(true);
				

		}


		function areYouSure(url) {



		}

		function areYouSureAction(todo, customTitle) {

			if (customTitle)
				var sureTitle = customTitle
			else
				var sureTitle = "Are you sure"



		}


		function removeFile(file,id){
	
    	apprise("Are you sure", {'verify':true}, function(r){
		if(r){

    	jQuery.ajax({
			type: "POST",
			url: "admin.php",
			data: "supermode=files&removeFile="+encodeURIComponent(file),
			success: function(data){
					if(data == "DELETED"){
						jQuery("div#file_"+id).fadeOut();
					} else alert(data)
			}
		});
    		} else {
			return false;
		}
	});
    


}

function showFolder(folder,folderName){
	
	$("#fileManager").html('<div class="isLoading"><span style="width:60px;height:50px;position:absolute;top:0;left:0;"><svg class="spinner spinnerAccent" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg></span></div>');



	if(folder==true){

		$("#fileManagerUploadToFolder").val('');
		$("#fileManagerCurrentFoldername").val('');
		
	}else if(folder==false){

		// keep as is.
		if($('#filesTab_1').length>0){
			var files_Tab = new bootstrap.Tab($('#filesTab_1')[0]);
			files_Tab.show();
		}

	}else{
		
		$("#fileManagerUploadToFolder").val(folder);
		$("#fileManagerCurrentFoldername").val(folderName);
		
	}

	jQuery.ajax({
		 type: "POST",
		 url: "admin.php",
		 data: "supermode=files&small=1&back="+encodeURIComponent("")+"&folder="+encodeURIComponent($("#fileManagerUploadToFolder").val()/*folder*/),
		 success: function(data){

		 					 	$("#fileManager").html(data);

				if(typeof assetManagerFilter === "undefined")assetManagerFilter=null;

				if(assetManagerFilter=='media'){


					assetManagerFilter=null;selectFilterFile('media');

				}

				if(typeof filesTab_default !== "undefined" && filesTab_default !== 1){

					// load different tab

					koShowLoading();

					$('#filesTab_'+filesTab_default).click();
					var files_Tab = new bootstrap.Tab($('#filesTab_'+filesTab_default)[0]);
					files_Tab.show();
					filesTab_default=1;

					koHideLoading();
					


				}

				return;


			}
});


}

// this is function called when user clicks on selected item in asset manager

function selectFile(file,id){

	
	if(file.indexOf('|')>-1){

		if($("#managerApplyTo").val() == 'newPhoto'){


			// allowed

		} else {

			// only first file
			file=file.split('|');
			file=file[0];

		}

	}

	$(".fileSelected").removeClass("fileSelected");
	$("#fileManagerSelected").val(file).removeClass("hide");
	$("#file_"+id).addClass("fileSelected");


	if($("#managerApplyTo").val() == '' && $("#managerApplyToImage").val() == ''
		&& typeof tinymceCallback !== "function"){

		// it's not a modal mode, not called to select anything,
		// just to view files.

		$('#koMenu_files .koMenuTabs a').removeClass('active');
		$('#filesTab_1').addClass('active');

		if(id == 1){
			// coming from upload or stock?
			// refreshFManager();
		}
		return true;


	}
	
	$("#inFrameHeaderClose").trigger("click");
	if(typeof tinymceCallback == "function"){

		tinymceCallback(file);
		//window.top.tinymce.activeEditor.windowManager.close();
		return;
	}


	if(tinyIFrame!==null){


	} else
	if($("#managerApplyTo").val() != ""){


		$("#"+$("#managerApplyTo").val()).val(file);
		$("#preview_"+$("#managerApplyTo").val()).attr("src",file);
		$("#bgPreview_"+$("#managerApplyTo").val()).css({"background-image":"url("+file+")","background-size":"cover"});
		$("#trigger_"+$("#managerApplyTo").val()).trigger("click");

		// if it's block image, apply live changes
		if($("#managerApplyTo").val()=='blockBackgroundImage'){


			blockBackgroundCleanup(2);

			// save changes?
			// koBlockSettings();

			// check if it's not too dark for text...
			// blockContrastCheck(file,1);

		// now show hidden settings
		$(".blockButtonRemoveImage").show();

		if($("#blockId").val() != "body")
		$("#blockParallaxCheckbox,#blockFilterCheckbox").slideDown();

		//if($("#blockId").val() == "headerBanner"){
		//$("#blockFilterCheckbox").slideDown();
		//}

		// if it's logo image, apply live changes
		}else if($("#managerApplyTo").val()=='k_websiteLogo')
		koPageSettings();

		setTimeout('$("#managerApplyTo").val("");',1000);

	} else
	if($("#managerApplyToImage").val() != ""){

		// saving directly to content element,
		// so update source and save changes
		$("#"+$("#managerApplyToImage").val()).attr("src",file);
		//$("#preview_"+$("#managerApplyTo").val()).attr("src",file);
		$("#managerApplyToImage").val("");

		setTimeout("k_EditSave('norefresh');",500)

	}







}
function selectFilterFile(filter){

	return;
	$("div.fileRow").show()
	if(filter===undefined)
		return true;

	$("div.fileRow:not(.filter_"+filter+")").hide()

}
function refreshFManager(){

	showFolder(true);

}
	</script>

		<div style="display:none">

		<iframe name="inPageUploadFrame" id="inPageUploadFrame" width="300" height="250" src="" style="display:none;"></iframe>

		<form action="admin.php?supermode=page_upload" id="inPageUploadForm" target="inPageUploadFrame" method="post" enctype="multipart/form-data">

			<input type="file" name="file[]" multiple="" id="bottomUploadButton">
			<input type="submit" name="submit" id="bottomUploadButtonSubmit">

			<input type="hidden" name="managerApplyTo" id="managerApplyTo">
			<input type="hidden" name="managerApplyToFrame" id="managerApplyToFrame">
			<input type="hidden" name="managerApplyToImage" id="managerApplyToImage">

			<input type="hidden" name="fileManagerSelected" id="fileManagerSelected" class="hide">
			<input type="hidden" name="fileManagerUploadToFolder" id="fileManagerUploadToFolder" class="hide">
			<input type="hidden" name="fileManagerCurrentFoldername" id="fileManagerCurrentFoldername" class="hide">

		</form>
		<script>
			
			$("#bottomUploadButton").change(function() {



				$("#asset_loadingInfo").show();
				$("#bottomUploadButtonSubmit").trigger('click');

			});
			
			// how wide is the content?
			var $bwidth = $('.koMenuTabs').outerWidth();
			
			if (typeof $defaultWidth === "undefined")
				var $defaultWidth = 333;

			if (typeof $bwidth === "number") {

				$bwidth = Math.round($bwidth + $defaultWidth);


			} else $bwidth = $defaultWidth;

			$('#admin').addClass('activeButtonHolder');

			if (window.top != window.self) {

				window.top.koMenuFit($bwidth);

				var km_pos = ($('.koMenu').offset());
				if (km_pos.top > 100) {

					setTimeout(function() {

						// try again.
						$bwidth = $('.koMenuTabs').outerWidth();
						$bwidth = Math.round($bwidth + $defaultWidth);

						window.top.koMenuFit($bwidth);


					}, 1000);

				}

				window.top.koHideLoading();

				$(function() {
					$("body,html").scrollTop(0);
					window.top.koMenuLoaded();
					
					window.addEventListener('beforeunload', function(event) {
						$('body').css('overflow', 'hidden').prepend('<div class="unloading"><span style=""><i class="fas fa-spinner fa-pulse "></i>Loading...</div>');
						window.top.koMenuUnload();
					});

				});

			}
		</script>
	</div>

<div class="nanobar koProgress" style="position: fixed;"><div class="bar"></div></div></body></html>