<div class="py-4 px-2 w-full">

	{% include 'views/front/' ~ template ~ '/includes/book_genres_section.html.twig' %}


	<div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white   p-8 rounded-lg shadow shadow-lg relative">

		<div class="min-w-56  z-10 relative" id="filter-parent">
			{% include 'views/front/' ~ template ~ '/includes/book-filter-sidebar.html.twig' %}
		</div>
		<div class="w-full relative  rounded-lg shadow-md  ">
			<div class="w-full text-primary border-1 p-8">
				<div class="w-full dark:text-gray-400 text-xl font-bold tracking-wide">
					{{lang.translate('Explore what is trending')}}</div>
			</div>
			<hr class="opacity-30"/>
			<div class="w-full ">
                {% include 'views/front/' ~ template ~ '/includes/home_videos.html.twig' %}

				{% include 'views/front/' ~ template ~ '/includes/pagination.html.twig' %}

			</div>
		</div>
	</div>
	<div class="h-10"></div>
</div>
