
            
            <div class="py-4 px-2 w-full">                     
                <div class="z-20 w-full relative dark:bg-gray-900 bg-white   lg:p-8 p-4 rounded-lg rounded  shadow-md mb-4" id="channels-list">

                    <div class="flex text-primary  w-full pb-4">
                        <h3 class="text-xl text-gray-500 font-semibold w-full">Top Channels</h3>
                        <div class="flex gap gap-4">
                            <button class="prev-btn" data-slider="top-authors"><img class="w-8" src="/src/front_assets/svg/left.svg"></button>
                            <button class="next-btn" data-slider="top-authors"><img class="w-8" src="/src/front_assets/svg/right.svg"></button>
                        </div>
                    </div>
                    <hr class="opacity-30 mb-4" />

                    <div class="carousel-container flex gap-2" data-count="5" id="top-authors" >
                        {# {% for media_item in list.items %} #}
                        {% include 'views/front/' ~ template ~ '/includes/channel_list.html.twig' %}
                        {# {% endfor %} #}
                    </div>
                </div>


                <div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white   p-8 rounded-lg shadow shadow-lg relative" >

                    <div class="min-w-56  z-10 relative" id="filter-parent" >
                        <div class="py-8" id="filter-side" >
                            <p class="text-xl text-gray-400">Filters</p>
                            <hr class="my-8 opacity-30" />
                            <ul class="dark:text-gray-400 flex lg:block">
                                <li class="relative show-child w-full">
                                    <div class="flex w-full">
                                        <span class="w-full text-base dark:text-gray-400  text-gray-600 ">Genre</span>
                                        <img src="/src/front_assets/svg/arrow.svg" />
                                    </div>
                                    <div class="py-3 inline-block">
                                        <span class="text-xs rounded-full py-1 px-2 bg-gray-300 text-gray-800  gap-2 inline-block">    
                                            <span class="flex gap-2">HipHop <img src="/src/front_assets/svg/close.svg" /></span> 
                                        </span> 
                                        <span class="text-xs rounded-full py-1 px-2 bg-gray-300 text-gray-800  gap-2 inline-block">    
                                            <span class="flex gap-2">Jazz<img src="/src/front_assets/svg/close.svg" /></span> 
                                        </span> 
                                    </div>
                                    <div class="show-on-hover absolute  lg:top-[-30px] top-[30px] lg:left-[100%] dark:bg-gray-900 bg-white  z-10 p-8 space-y-3">
                                        <p>HipHop</p>
                                        <p>Jazz</p>
                                        <p>Classic</p>
                                    </div>
                                </li>
                                <li class="relative show-child w-full">
                                    <div class="flex w-full">
                                        <span class="w-full text-base dark:text-gray-400  text-gray-600 ">Type</span>
                                        <img src="/src/front_assets/svg/arrow.svg" />
                                    </div>
                                    <div class="py-2 inline-block">
                                    </div>
                                    <div class="show-on-hover absolute  lg:top-[-30px] top-[30px] lg:left-[100%] dark:bg-gray-900 bg-white  z-10 p-8 space-y-3">
                                        <p>Music</p>
                                        <p>Courses</p>
                                        <p>Audiobooks</p>
                                    </div>
                                </li>
                                <li class="relative show-child w-full ">
                                    <div class="flex w-full">
                                        <span class="w-full text-base dark:text-gray-400  text-gray-600 ">Date</span>
                                        <img src="/src/front_assets/svg/arrow.svg" />
                                    </div>
                                    <div class="py-2 inline-block">
                                    </div>
                                    <div class="show-on-hover absolute  lg:top-[-30px] top-[30px] lg:left-[100%] dark:bg-gray-900 bg-white  w-40 z-10 p-8 space-y-3">
                                        <p>Today</p>
                                        <p>This week</p>
                                        <p>This month</p>
                                        <p>Earlier</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full relative  rounded-lg shadow-md  ">
                        <div class="w-full text-primary border-1 p-8">
                            <div class="w-full dark:text-gray-400 text-xl font-bold tracking-wide"> {{lang.translate('Explore what is trending')}}</div>
                        </div>
                        <hr class="opacity-30" />
                        <div class="w-full p-8">
                            <div class="w-full flex">
                                <div class="w-full ">
                                    <ul class="w-full space-y-4 pb-20">
                                    {% for media_item in list.items %}                                   
                                    {% include 'views/front/' ~ template ~ '/includes/tracks-list.html.twig' %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="h-10"></div>
            </div>

         