<div class="px-2 lg:flex ">
    {% set customer = app.customer_auth %}
	{% include 'views/front/' ~ template ~ '/includes/studio_sidemenu.html.twig' %}

	<div class="dark:text-gray-300 w-full gap-6 overflow-hidden dark:bg-gray-900 bg-white   px-2 py-8 lg:p-8  rounded-lg shadow shadow-lg relative">

		<div class="box">
			<div class="box-header with-border">
				<h4 class="box-title text-2xl">{{lang.translate('Invoices')}}</h4>
				<p class="text-fade">{{lang.translate('List of previuos Invoices')}}</p>
			</div>
            <hr class="my-6" />
			<div class="box-body pt-0">
                <div class="space-y-4">
				
                {% for invoice in customer.invoices %}
                

                <!-- Invoice Item -->
                    <!-- First Invoice -->
                    <div class="p-4 bg-gray-50 rounded-lg shadow-md flex justify-between items-center">
                        <div>
                            <p class="text-lg font-semibold text-gray-800">Subscription Plan: Basic</p>
                            <p class="text-sm text-gray-500">Date: 2024-10-19</p>
                        </div>
                        <div>
                            <p class="text-lg font-semibold text-green-600">$20.00</p>
                        </div>
                    </div>

                {% endfor %}
                </div>
			</div>
		</div>

	</div>

</div>

