<div class="{{item.field.class}} text-primary">

 <section id="hero" class="bg-white py-16 flex flex-col lg:flex-row items-center justify-center px-8">
        <!-- Text Content -->
        <div class="flex flex-col justify-center text-center lg:text-left lg:w-5/12 pb-7 lg:py-12 xl:w-5/12 lg:order-1">
            <p class="mb-5 font-semibold text-gray-dark md:text-lg">Welcome to our platform</p>
            <h1 class="mb-10 text-4xl font-bold text-primary lg:w-4/5">Innovative solutions for your online presence</h1>
            <p class="mb-10 text-gray-txt lg:w-4/5">Discover a new way to create stunning websites with our cutting-edge tools and resources. Let us help you bring your vision to life!</p>
            <div class="flex justify-center lg:justify-start">
                <a href="#" class="bg-primary hover:bg-secondary text-white font-semibold px-4 py-2 rounded-full inline-block">Get Started</a>
            </div>
        </div>
        <!-- Image -->
        <div class="h-48 lg:h-auto overflow-hidden lg:order-2 lg:w-5/12 lg:px-8">
            <img src="/uploads/img/4.png" loading="lazy" alt="hero photo" class="h-full w-full object-cover object-center" />
        </div>
    </section>
    

    <section id="features">
        <div class="bg-white py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                <!-- text - start -->
                <div class="text-center mb-20">
                    <h2 class="text-4xl font-bold mb-4 text-primary">Key Features</h2>
                    <p class="text-lg text-grey-txt font-semibold">Discover what sets us apart</p>
                </div>
                <!-- text - end -->
                <div class="grid gap-8 sm:grid-cols-2 md:gap-12 xl:grid-cols-3 xl:gap-16">
                    <!-- Feature 1 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Speed</h3>
                            <p class="mb-2 text-gray-txt">With our solution, experience lightning-fast performance for your
                                website.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 1 End -->
    
                    <!-- Feature 2 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Flexibility</h3>
                            <p class="mb-2 text-gray-txt">Our solution provides unmatched flexibility, allowing you to
                                customize your website according to your needs.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 2 End -->
    
                    <!-- Feature 3 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Security</h3>
                            <p class="mb-2 text-gray-txt">Rest assured with top-notch security features that keep your
                                website and data safe.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 3 End -->
    
                    <!-- Feature 4 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Simplicity</h3>
                            <p class="mb-2 text-gray-txt">Our solution is designed with simplicity in mind, making it easy
                                for anyone to use.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 4 End -->
    
                    <!-- Feature 5 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Integration</h3>
                            <p class="mb-2 text-gray-txt">Seamlessly integrate our solution with your existing tools and
                                workflows.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 5 End -->
    
                    <!-- Feature 6 -->
                    <div class="flex gap-4 md:gap-6">
                        <div
                            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                            <img src="/uploads/img/heading-img.png" alt="Feature Icon" class="h-6 w-6 md:h-8 md:w-8">
                        </div>
                        <div>
                            <h3 class="mb-2 text-lg font-semibold md:text-xl text-primary">Reliability</h3>
                            <p class="mb-2 text-gray-txt">Count on our solution for reliable performance and uptime.</p>
                            <a href="#"
                                class="font-bold text-gray-dark transition duration-100 hover:text-primary active:text-primary">Learn
                                More</a>
                        </div>
                    </div>
                    <!-- Feature 6 End -->
                </div>
            </div>
        </div>
    </section>

{{item.data|raw}}
</div>